@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Economica", sans-serif;
  font-size: 1.8rem;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.heading-primary {
  font-size: 4rem;
  color: #000;
  font-family: "Special Elite", cursive; }

.heading-secondary {
  color: #000;
  font-size: 3rem;
  border-bottom: 4px dotted #000;
  font-family: "Special Elite", cursive; }
  .heading-secondary--tours, .heading-secondary--shop {
    color: #fff;
    border-color: #fff; }

.heading-tertiary {
  font-family: "Special Elite", cursive;
  margin: 2rem 0;
  padding: 2rem;
  background-color: #632c65;
  text-align: center;
  color: #fff; }

@keyframes slideDown {
  from {
    transform: translateY(-100px); }
  to {
    transform: translate(0); } }

@keyframes slideUp {
  from {
    transform: translateY(100px); }
  to {
    transform: translate(0); } }

@keyframes fade {
  from {
    opacity: 0.6; }
  to {
    opacity: 1; } }

.btn {
  border: none;
  padding: 1rem;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  transition: all 0.2s; }
  .btn--tours {
    color: #fff;
    background-color: #632c65;
    margin-top: 2rem; }
    .btn--tours:focus, .btn--tours:hover {
      background-color: #f0a702;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
      transform: translateY(3px); }
  .btn--shop {
    border: 3px solid #632c65;
    color: #632c65;
    padding: 1rem 3rem;
    display: block;
    margin-top: auto;
    font-size: 2.3rem; }
    .btn--shop:focus, .btn--shop:hover {
      background-color: #632c65;
      color: #fff; }

.navigation {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  background-color: #632c65; }
  .navigation__menu {
    position: relative;
    margin: 1rem;
    margin-left: auto; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    height: 0.5rem;
    width: 4rem;
    background-color: #e2a9e5;
    border-radius: 1rem;
    transition: all 0.2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }
  .navigation__btn {
    border: none;
    display: block;
    background-color: transparent;
    position: relative;
    margin: 1.2rem;
    padding: 0; }
  .navigation__btn--active .navigation__icon {
    background-color: transparent; }
  .navigation__btn--active .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__btn--active .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__list {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 3;
    height: 100vh;
    background-color: #e2a9e5;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.5s; }
    .navigation__list--active {
      width: 70vw; }
  .navigation__item {
    font-size: 3.3rem;
    margin: 1rem; }
  .navigation__drop-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    color: #fff;
    display: block; }
    .navigation__drop-btn:focus, .navigation__drop-btn:hover {
      color: #632c65; }
    .navigation__drop-btn::after, .navigation__drop-btn.triangle::after {
      font-size: 20px;
      display: inline-block;
      padding: 0 5px;
      content: "▼"; }
    .navigation__drop-btn.triangle::after {
      content: "▲"; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: inherit; }
  .navigation__link:focus, .navigation__link:hover {
    color: #4b384c; }
  .navigation__link--drop:link, .navigation__link--drop:visited {
    padding-left: 1.5rem;
    border-bottom: 1px dotted #632c65;
    color: #632c65; }
  .navigation__link--drop:focus, .navigation__link--drop:hover {
    background-color: #fff; }
  .navigation__dropdown {
    display: none;
    transition: all 2s ease; }
    .navigation__dropdown--active {
      display: block; }

.header {
  height: 93vh;
  position: relative;
  overflow: hidden; }
  .header__back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: fade 1.5s ease forwards; }
    .header__back:nth-of-type(1) {
      background-image: url(../img/vino1.jpg); }
    .header__back:nth-of-type(2) {
      background-image: url(../img/vino2.jpg); }
    .header__back:nth-of-type(3) {
      background-image: url(../img/vino3.jpg); }
  .header__content {
    color: #000;
    text-align: center;
    width: 55%;
    animation: slideDown 0.8s ease-in;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    font-family: "Special Elite", cursive; }
  .header__text {
    font-size: 2rem; }
  .header__btn {
    border: none;
    background-color: #632c65;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    animation: slideUp 0.8s ease-in forwards;
    font-family: inherit; }
  .header__link {
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: #4b384c; }

.arrow {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #4b384c;
  text-align: center;
  line-height: 2rem; }

.arrow:hover {
  background-color: #632c65; }

.arrow-left {
  left: 10px;
  z-index: 2; }

.arrow-right {
  right: 10px;
  z-index: 2; }

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 9rem 2rem;
  background-color: #fff;
  background-image: url(../img/lined_paper.png); }
  .about__content {
    margin: 4rem 1rem; }
  .about__text {
    padding: 1rem;
    font-size: 2.3rem; }

.tours {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #632c65;
  padding: 9rem 1.5rem; }
  .tours__offers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .tours__box {
    padding: 2rem;
    margin-top: 2rem; }
  .tours__inner {
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    position: relative;
    border: 3px solid #fff; }
    .tours__inner:hover img {
      transform: scale(1.5); }
  .tours__content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 2.5rem; }
  .tours__text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    text-align: center;
    padding: 0.5rem;
    width: 100%; }
  .tours__img {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
    display: inline-block; }
  .tours__subtitle, .tours__price {
    display: block; }

.shops {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #4b384c;
  padding: 9rem 1.5rem; }
  .shops__offers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 7rem; }
  .shops__box {
    display: flex;
    flex-flow: column wrap;
    padding: 2rem;
    margin: 2rem;
    background-color: #fff;
    width: 30rem;
    font-size: 2rem; }
    .shops__box--lifestyle {
      background-color: #632c65;
      color: #fff; }
  .shops__text {
    margin: 3rem 0; }
