// VARIABLES

// Color variables
$french-lilac: #e2a9e5;
$bossanova: #632c65;
$vodoo: #4b384c;
$white: #fff;
$black: #000;
$orange: #f0a702;

// Media queries
$bp-smallest: 37.5em; //600px
$bp-small: 56.25em; // 900px
$bp-medium: 75em; // 1200px;
$bp-large: 93.75em; // 1500px;
