// ABOUT
.about {
  @include flex-row-wrap;

  justify-content: center;
  padding: 9rem 2rem;
  background-color: $white;
  background-image: url(../img/lined_paper.png);

  &__content {
    @include flex-row-wrap;

    justify-content: center;
    margin: 4rem 1rem;
    flex: 100%;
  }

  &__text {
    padding: 3rem;
    font-size: 2.3rem;
    flex: 0 1 60rem;
  }

  &__img {
    display: block;
    border: 6px solid $white;
  }
}
