// ABOUT
.about {
  @include flex-row-wrap;

  justify-content: center;
  padding: 9rem 2rem;
  background-color: $white;
  background-image: url(../img/lined_paper.png);

  &__content {
    margin: 4rem 1rem;
  }

  &__text {
    padding: 1rem;
    font-size: 2.3rem;
  }
}
