// CONTACTS
.contacts {
  @include flex-row-wrap;

  justify-content: center;
  align-items: center;
  background-color: $vodoo;
  color: $white;
  font-size: 2.1rem;

  &__title {
    background-color: transparent;
    text-align: left;
    padding: 0;
  }

  &__box {
    width: 100%;
    padding: 2rem;
    margin: 3rem 0;

    @media screen and (min-width: $bp-smallest) {
      width: 45%;

      @include flex-col;

      justify-content: center;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: $white;
    }

    &:focus,
    &:hover {
      text-decoration: underline;
    }

    &--icon {
      font-size: 5rem;
      display: inline-block;
      margin: 1rem;
      transition: all 0.2s ease-in-out;

      &:focus,
      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  &__form {
    @include flex-col;

    margin: 2rem 0;
  }

  &__input {
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    max-width: 30rem;

    @media screen and (min-width: $bp-smallest) {
      width: 30rem;
    }

    &--submit {
      background-color: $bossanova;
      color: $white;
      font-family: inherit;
      font-size: inherit;
      transition: all 0.2s ease-in-out;
      border: 1px solid $white;

      &:focus,
      &:hover {
        background-color: $french-lilac;
        color: $black;
        border: 1px solid $white;
      }
    }
  }

  &__list {
    padding: 2rem;
  }
}
