// FEEDS
.feeds {
  @include flex-row-wrap;

  justify-content: center;
  background-color: $white;
  padding: 9rem 1.5rem;

  @media screen and(min-width: $bp-medium) {
    padding: 15rem 1.5rem;
  }

  &__content {
    @include flex-row-wrap;

    justify-content: center;
    margin-top: 7rem;
  }

  &__box {
    @include flex-col;

    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    font-size: 2.1rem;
    margin: 3rem 1rem;
    border-radius: 5px;
    position: relative;
    flex: 0 1 300px;

    &:hover {
      box-shadow: 0 0 0 5px $bossanova;
    }

    &::before {
      content: '"';
      width: 6rem;
      height: 6rem;
      position: absolute;
      color: $white;
      font-size: 10rem;
      line-height: 10rem;
      text-align: center;
      top: 0;
      left: 3rem;
      border-radius: 50%;
      background-color: $bossanova;
      transform: translateY(-50%);
    }
  }

  &__img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 0 9px $bossanova;
  }

  &__name {
    display: block;
    font-weight: 700;
    margin: 2rem;
  }
}
