// HEADER
.header {
  height: 93vh;
  position: relative;
  overflow: hidden;

  &__back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: fade 1.5s ease forwards;

    &:nth-of-type(1) {
      background-image: url(../img/vino1.jpg);
    }

    &:nth-of-type(2) {
      background-image: url(../img/vino2.jpg);
    }

    &:nth-of-type(3) {
      background-image: url(../img/vino3.jpg);
    }
  }

  &__content {
    color: $black;
    text-align: center;
    width: 55%;
    animation: slideDown 0.8s ease-in;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    font-family: "Special Elite", cursive;
    max-width: 60rem;
  }

  &__text {
    font-size: 2rem;
  }

  &__btn {
    border: none;
    background-color: $bossanova;
    color: $white;
    font-size: 2.2rem;
    padding: 1rem;
    margin-top: 3rem;
    animation: slideUp 0.8s ease-in forwards;
    font-family: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $french-lilac;
      color: $black;
    }
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: #4b384c;
  }
}

.arrow {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #4b384c;
  text-align: center;
  line-height: 2rem;

  &:hover {
    background-color: #632c65;
  }

  &-left {
    left: 10px;
    z-index: 2;
  }

  &-right {
    right: 10px;
    z-index: 2;
  }
}
