// SHOP (WINE SECTION)
.shops {
  @include flex-row-wrap;

  justify-content: center;
  background-color: $vodoo;
  padding: 9rem 1.5rem;

  &__offers {
    @include flex-row-wrap;

    justify-content: center;
    margin-top: 7rem;
  }

  &__img {
  }

  &__box {
    @include flex-col;

    padding: 2rem;
    margin: 2rem;
    background-color: $white;
    width: 30rem;
    font-size: 2rem;

    &--lifestyle {
      background-color: $bossanova;
      color: $white;
    }
  }

  &__text {
    margin: 3rem 0;
  }
}
