// TOURS
.tours {
  @include flex-row-wrap;

  justify-content: center;
  background-color: $bossanova;
  padding: 9rem 1.5rem;

  &__offers {
    @include flex-row-wrap;

    justify-content: center;
  }

  &__box {
    margin-top: 3rem;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
    position: relative;
    border: 3px solid $white;
    text-align: center;

    &:hover img {
      transform: scale(1.5);
    }

    @media screen and (min-width: $bp-smallest) {
      margin: 4rem;
    }

    @media screen and (min-width: $bp-large) {
      max-width: 40rem;
      max-height: 40rem;
    }
  }

  &__content {
    @include flex-col;

    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 2.5rem;
  }

  &__text {
    background-color: rgba($white, 0.5);
    color: $black;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
  }

  &__img {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: auto;
    display: inline-block;
  }

  &__subtitle,
  &__price {
    display: block;
  }
}
