// HEADINGS
.heading-primary {
  font-size: 4rem;
  color: $black;
  font-family: "Special Elite", cursive;
}

.heading-secondary {
  color: $black;
  font-size: 3rem;
  border-bottom: 4px dotted $black;
  font-family: "Special Elite", cursive;

  &--tours,
  &--shop {
    color: $white;
    border-color: $white;
  }
}

.heading-tertiary {
  font-family: "Special Elite", cursive;
  margin: 2rem 0;
  padding: 2rem;
  background-color: $bossanova;
  text-align: center;
  color: $white;
}
