// HEADINGS
.heading-primary {
  font-size: 4rem;
  color: $black;
  font-family: "Special Elite", cursive;
}

.heading-secondary {
  color: $black;
  font-size: 3rem;
  border-bottom: 4px dotted $black;
  font-family: "Special Elite", cursive;

  &--tours,
  &--shop {
    color: $white;
    border-color: $white;
  }
}
